    <div class="case">
        <div>Admin</div>

        <a asp-controller="Home" asp-action="Index">Home</a>
        <a asp-controller="Admin" asp-action="LogOff">LogOff</a>
    </div>

    <style>
        .case {
            align-items: center;
            position: fixed;
            top: 40px;
            left: 86px;
            width: 26px;
            height: 26px;
        }
    </style>