@using Manect.Data.Entities;
@model IEnumerable<Project>

<html>
<head>
    <title>Мои проекты</title>
    <link rel="stylesheet" href="~/css/Manager.css">
</head>
<body>  
    <div class="case">
        <a asp-controller="Manager" asp-action="LogOff">LogOff</a>
    </div>
    <form asp-controller="Manager" asp-action="AddProject" method="post">
        <button>+ Новый проект</button>
    </form>
    
    <div class="tasks">
        <p>Задачи на сегодня</p>
    </div>

    <div class="block2">
        <p>Актуальные проекты</p>
        <div class="projects">
            @foreach (Project project in Model)
            {
                <div class="project">
                    <img src="/DefaultImage.png" alt="" />
                    <div class="text_projects">@project.Name</div>
                    <div class="text_projects">@project.CreationDate</div>
                </div>
            }
        </div>
    </div>

</body>
</html>
