@model LoginViewModel

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Manect</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/png" href="~/image/icon/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="~/font/font-awesome/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/Login.css">

</head>
<body style="background-color: #666666;">
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <form class="login100-form validate-form" asp-controller="Manager" asp-action="Login" method="post">
                    <input hidden asp-for="ReturnUrl" />
                    <span class="login100-form-title p-b-43">
                        Войти в Manect
                    </span>
                    <div class="wrap-input100 validate-input" data-validate="Неправильно введен email: alexandr@gmail.com">
                        <input class="input100" asp-for="Email">
                        <span class="focus-input100"></span>
                        <span class="label-input100">Email</span>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Пароль введен неверно">
                        <input class="input100" asp-for="Password">
                        <span class="focus-input100"></span>
                        <span class="label-input100">Пароль</span>
                    </div>
                    <div class="flex-sb-m">
                        <div class="contact100-form-checkbox">
                            <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                            <label class="label-checkbox100" for="ckb1">
                                Запомнить меня
                            </label>
                        </div>
                        <div>
                            <a href="#" class="txt1">
                                Не забывай пароль
                            </a>
                        </div>
                    </div>
                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn">
                            Войти
                        </button>
                    </div>
                </form>
                <img class="login100-more" src="~/image/LoginBackground.jpg">
            </div>
        </div>
    </div>
    <script src="~/js/jqueryMin.js"></script>
    <script src="~/js/Login.js"></script>
</body>
</html>
