@using Manect.Controllers.Models;
@model IEnumerable<HistoryItem>
<head>
    <title>Manect-История</title>
</head>
<body class="history-page">
    <div id="app">
        <header>
            <div class="container">
                <div class="header-menu"><a class="open-menu" href="#menu" title="Открыть меню"><img src="/image/icon/menu_bar.svg" alt="icon"></a></div>
                <div class="header">
                    <div class="header-title">История</div>
                </div>
            </div>
        </header>
        <main>
            <section id="history">
                <div class="container">
                    <div class="content">
                        <ul class="history-list">
                            @foreach (var item in Model)
                            {
                                <li>
                                        <div class="history-list__image">@item.AbbreviationName</div>
                                        <div class="history-list__info">
                                            <a title="Перейти к проекту" href="@Url.Action("OpenProject", "Home", new { ProjectId = item.ProjectId })"><div class="history-list__title"> @item.Message</div></a>
                                            <div class="history-list__date">@item.TimeAction</div>
                                        </div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </section>
        </main>
    </div>
    <script src="~/js/vendors/vendors.js"></script>
    <script src="~/js/main.js"></script>
</body>