@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link rel="stylesheet" href="~/css/Error.css">
</head>

<body translate="no">
    <div class="error-page">
        <div>
            <h1 data-h1="ERROR">ERROR</h1>
            <p data-p="NOT FOUND">NOT FOUND</p>
        </div>
    </div>
</body>
</html>
