@model string
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Manect-ОШИБОЧКА</title>
    <link rel="icon" type="image/png" href="~/image/icon/favicon.ico" />
    <link rel="stylesheet" href="~/css/Error.css">
</head>
<body translate="no">
    <div class="error-page">
        <div>
            <h1 data-h1="ОШИБОЧКА">ОШИБОЧКА</h1>
            <p>@Model <a asp-controller="Home" asp-action="Index" title="НАЖМИ!">нажми сюда чтобы вернуться</a></p>
        </div>
    </div>
</body>
</html>
