@model LoginViewModel

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Manect</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="~/css/LoginImage.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="~/image/icon/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="~/font/font-awesome/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/Login.css">
</head>
<body style="background-color: #666666;">
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <form class="login100-form validate-form" asp-controller="Home" asp-action="Login" method="post">
                    <input hidden asp-for="ReturnUrl" />
                    <span class="login100-form-title p-b-43">
                        Войти в <span style="font-weight: bold">Manect</span>
                    </span>
                    <div class="wrap-input100 validate-input" data-validate="Неправильно введен email">
                        <input class="input100" asp-for="Email">
                        <span class="focus-input100"></span>
                        <span class="label-input100">Email</span>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Пароль введен неверно">
                        <input class="input100" type="password" asp-for="Password">
                        <span class="focus-input100"></span>
                        <span class="label-input100">Пароль</span>
                    </div>
                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn">
                            Войти
                        </button>
                    </div>
                </form>
                <a href="~/image/LoginBackgroundFull.jpg" id="login100-more" class="progressive replace">
                    <img class="preview" src="~/image/LoginBackgroundTiny.jpg" alt="image" />
                </a>
            </div>
        </div>
    </div>
    <script src="~/js/LoginLazyLoadingImage.js"></script>
    <script src="~/js/jqueryMin.js"></script>
    <script src="~/js/Login.js"></script>
</body>
</html>